CREATE TEMPORARY VIEW SL_INCOMING AS {{ selectStatement }};

DELETE FROM {{ tableFullName }} 
WHERE {{ sinkPartition | first }} IN (SELECT DISTINCT {{ sinkPartition | first }} FROM SL_INCOMING);

INSERT INTO {{ tableFullName }}({{ tableColumnsCsv }}) SELECT {{ tableColumnsCsv }} FROM SL_INCOMING;

