CREATE TEMPORARY VIEW SL_INCOMING AS {{ selectStatement }};

{% if strategyOn == 'TARGET' %}

MERGE INTO  {{ tableFullName }} SL_EXISTING USING SL_INCOMING ON ( {{ strategyKeyJoinCondition }})
WHEN MATCHED THEN  {{ tableUpdate }}
WHEN NOT MATCHED THEN {{ tableInsert }};

{% else %} {# strategyOn == 'SOURCE_AND_TARGET' #}

MERGE INTO {{ tableFullName  }} SL_EXISTING
USING
  (SELECT  {{ tableColumnsCsv }}
   FROM (
    SELECT {{ tableColumnsCsv }}, ROW_NUMBER() OVER (PARTITION BY {{ strategyKeyCsv }}  ORDER BY (select 0)) AS SL_SEQ
    FROM SL_INCOMING SL_TMP1
  ) SL_TMP2
  WHERE SL_SEQ = 1) SL_INCOMING
ON ( {{strategyKeyJoinCondition}} )
WHEN MATCHED THEN {{ tableUpdate }}
WHEN NOT MATCHED THEN {{ tableInsert }};

{%  endif %}
