application:
  loader: "{{ loader }}" # native or spark depending on the env.LOCAL.comet.yml & env.BQ.comet.yml files
  accessPolicies:
    apply: true
    location: eu
    taxonomy: RGPD

  connections:
    bigquery:
      type: "bigquery"
      options:
        writeMethod: "direct" # direct or indirect
        location: "EU" # EU or US
        #gcsBucket: "starlake-app" # required in indirect mode only
        authType: "APPLICATION_DEFAULT"
        authScopes: "https://www.googleapis.com/auth/cloud-platform" # comma separated list of scopes
        #authType: SERVICE_ACCOUNT_JSON_KEYFILE
        #jsonKeyfile: "/Users/me/.gcloud/keys/starlake-me.json"

    localFilesystem:
      type: "fs"

  spark:
    delta:
      logStore:
        class: org.apache.spark.sql.delta.storage.LocalLogStore
    datasource:
      bigquery:
        materializationDataset: "BQ_TEST_DS"


  connectionRef: "{{ myConnectionRef }}"
