.rtElement{
	display: inline-block;
	border-radius: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

.rtElement i.fa-arrows{
	font-size: 80%;
	margin-left: 5px;
}

.form-control.filterServer{
	display: inline-block;
	width: auto;
}

th .pointer{
	cursor: pointer;
}

td.empty{
	height: 50px;
}

td.highlight{
	background: rgba(40, 167, 69, 0.2) !important;
}

.rtListContainer{
	display: inline-block;
	position: relative;
}

.rtListContainer .rtListElement{
	padding-right: 30px;
	border-radius: 10px;
	color: #FFFFFF;
	}

.rtListContainer i.fa-times{
	position: absolute;
	top: 0.75rem;
	right: 25px;
	color: #FFFFFF;
	cursor: pointer;
}