
{% if tableTruncate and sinkFormat == 'delta' %}
DELETE FROM {{ tableFullName }}; 
{% elif tableTruncate %}
DELETE FROM {{ tableFullName }};
{% endif %}

INSERT INTO {{ tableFullName }} {{ selectStatement }};
