
{% if materializedView %}
DROP MATERIALIZED VIEW IF EXISTS {{ tableFullName }};
CREATE MATERIALIZED VIEW {{ tableFullName }} AS {{ selectStatement }}
{% elif sinkFormat == 'delta' %}
DELETE FROM {{ tableFullName }};
INSERT INTO {{ tableFullName }} {{ selectStatement }}
{% else %}
TRUNCATE TABLE {{ tableFullName }};
INSERT INTO {{ tableFullName }} {{ selectStatement }}
{% endif %}
