
{% if tableTruncate %}
TRUNCATE TABLE {{ tableFullName }};
{% endif %}

CREATE OR REPLACE VIEW #SL_INCOMING AS {{selectStatement }};
INSERT INTO {{ tableFullName }} SELECT {{ tableColumnsCsv }} FROM #SL_INCOMING;
