
{% if tableTruncate %}
TRUNCATE TABLE {{ tableFullName }};
{% endif %}

CREATE OR REPLACE VIEW #SL_INCOMING AS {{selectStatement }};

INSERT INTO {{ tableFullName }}({{ tableColumnsCsv }}) SELECT {{ tableColumnsCsv }} FROM #SL_INCOMING;

DROP VIEW IF EXISTS #SL_INCOMING;
