

CREATE OR REPLACE VIEW #SL_INCOMING AS {{ selectStatement }};

DELETE FROM {{ tableFullName }} 
WHERE {{ sinkPartition | first }} IN (SELECT DISTINCT {{ sinkPartition | first }} FROM #SL_INCOMING);

INSERT INTO {{ tableFullName }}({{ tableColumnsCsv }}) SELECT {{ renderTableColumns('#SL_INCOMING', tableColumnNames) }} FROM #SL_INCOMING;

DROP VIEW IF EXISTS #SL_INCOMING;
