
CREATE OR REPLACE VIEW #SL_INCOMING AS {{ selectStatement }};

{% if materializedView %}
DROP MATERIALIZED VIEW IF EXISTS {{ tableFullName }};
CREATE MATERIALIZED VIEW {{ tableFullName }} AS SELECT {{ tableColumnsCsv }} FROM #SL_INCOMING;
{% else %}
TRUNCATE TABLE {{ tableFullName }};
INSERT INTO {{ tableFullName }} SELECT {{ tableColumnsCsv }} FROM #SL_INCOMING;
{% endif %}
