CREATE OR REPLACE VIEW #SL_INCOMING AS {{ selectStatement }};


CREATE TABLE {{ tableFullName }}_INCOMING AS
    SELECT {{ renderStrategyKeyAsPseudo(strategyKey, '#SL_INCOMING') }}, #SL_INCOMING.* FROM #SL_INCOMING
        UNION ALL
    SELECT {{ renderStrategyKeyAsNullPseudo(strategyKey) }}, #SL_INCOMING.* FROM #SL_INCOMING
    INNER JOIN {{ tableFullName }} SL_EXISTING
    ON ({{ renderStrategyKeyJoinCondition('#SL_INCOMING','SL_EXISTING',strategyKey) }} AND SL_EXISTING.{{strategyEndTs}} IS NULL);


MERGE INTO {{ tableFullName }} USING {{ tableFullName }}_INCOMING
ON ({{ renderStrategyJoinConditionWithPseudo('{{ tableFullName }}_INCOMING', '{{ tableFullName }}', strategyKey) }})
WHEN MATCHED THEN
    UPDATE SET {{ strategyEndTs }} = CURRENT_TIMESTAMP()
WHEN NOT MATCHED THEN
    INSERT ({{ renderColumnsWithoutScd2(tableColumnNames, "") }}, {{ quote }}{{ strategyStartTs }}{{ quote }}, {{ quote }}{{ strategyEndTs }}{{ quote }} )
    VALUES ({{ renderColumnsWithoutScd2(tableColumnNames, '{{ tableFullName }}_INCOMING.') }}, CURRENT_TIMESTAMP(), NULL);


DROP VIEW IF EXISTS #SL_INCOMING;
DROP TABLE {{ tableFullName }}_INCOMING;
