{% if primaryKeys %}
{% for primaryKey in primaryKeys %}
        {{ primaryKey }}
{% endfor %}
{% endif %}

{% if partitions %}
{% for partition in partitions %}
        {{ partition }}
{% endfor %}
{% endif %}

CREATE TABLE {{ domainName }}.{{ tableName }} (
{% for attribute in attributes %}
    {{ attribute.ddl }} options(description="{{ attribute.comment }}"){% if not loop.last %},{% endif %}

{% endfor %}
)
options(description="{{ domainComment }}");
