<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Test results - Test Summary</title>
    <link href="../../../css/base-style.css" rel="stylesheet" type="text/css"/>
    <link href="../../../css/style.css" rel="stylesheet" type="text/css"/>
    <script src="../../../js/report.js" type="text/javascript"></script>
</head>
<body>
<div id="content">
<div class="breadcumbs">
<a href="../../../index.html">All</a> &gt;
    <a href="../../index.html">{{ loadOrTransform }}</a> &gt;
<a href="../index.html">{{domainName}}</a>
</div>
    <h1>{{tableSummary.name}} Summary</h1>
    <div id="summary">
        <table>
            <tr>
                <td>
                    <div class="summaryGroup">
                        <table>
                            <tr>
                                <td>
                                    <div class="infoBox" id="tests">
                                        <div class="counter">{{ tableSummary.count }}</div>
                                        <p>tests</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="infoBox" id="success">
                                        <div class="counter">{{ tableSummary.success }}</div>
                                        <p>success</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="infoBox" id="failures">
                                        <div class="counter">{{ tableSummary.failures }}</div>
                                        <p>failures</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="infoBox" id="duration">
                                        <div class="counter">{{ tableSummary.duration }}</div>
                                        <p>duration</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                {% if tableSummary.successRate == 100  %}
                    <div class="infoBox success" id="successRate">
                {% else %}
                    <div class="infoBox failures" id="successRate">
                {% endif %}

                        <div class="percent">{{ tableSummary.successRate }}%</div>
                        <p>successful</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="tabs">
        <ul class="tabLinks">
            <li>
                <a href="#tab0">Domains</a>
            </li>
        </ul>
        <div id="tab2" class="tab">
            <h2>Tests</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Missing Column</th>
                    <th>Unexpected Column</th>
                    <th>Missing Record</th>
                    <th>Unexpected Record</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                {% for result in testResults %}
                {% if result.success %}
                <tr class="success">
                {% else %}
                <tr class="failures">
                {% endif %}
                    <td class="failures">
                        <a href="{{ result.testName }}/index.html">{{ result.testName }}</a>
                    </td>
                    <td>{{ result.missingColumnsCount }}</td>
                    <td>{{ result.notExpectedColumnsCount }}</td>
                    <td>{{ result.missingRecordsCount }}</td>
                    <td>{{ result.notExpectedRecordsCount }}</td>
                    <td>{{ result.duration }}s</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer">
        <p>
        <div>
            <label class="hidden" id="label-for-line-wrapping-toggle" for="line-wrapping-toggle">Wrap lines
                <input id="line-wrapping-toggle" type="checkbox" autocomplete="off"/>
            </label>
        </div>Generated by
        <a href="https://starlake.ai">starlake</a> at {{ timestamp }}</p>
    </div>
</div>
</body>
</html>
