<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Test results - Test Summary</title>
    <link href="../../css/base-style.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/style.css" rel="stylesheet" type="text/css"/>
    <script src="../../js/report.js" type="text/javascript"></script>
</head>
<body>
<div id="content">
    <div class="breadcumbs">
    <a href="../../index.html">All</a>  &gt;
        <a href="../index.html">{{ loadOrTransform }}</a> &gt;
    </div>
    <h1>{{domainSummary.name}} Summary</h1>
    <div id="summary">
        <table>
            <tr>
                <td>
                    <div class="summaryGroup">
                        <table>
                            <tr>
                                <td>
                                    <div class="infoBox" id="tests">
                                        <div class="counter">{{ domainSummary.count }}</div>
                                        <p>tests</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="infoBox" id="success">
                                        <div class="counter">{{ domainSummary.success }}</div>
                                        <p>success</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="infoBox" id="failures">
                                        <div class="counter">{{ domainSummary.failures }}</div>
                                        <p>failures</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="infoBox" id="duration">
                                        <div class="counter">{{ domainSummary.duration }}</div>
                                        <p>duration</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                {% if domainSummary.successRate == 100 %}
                    <div class="infoBox success" id="successRate">
                {% else %}
                    <div class="infoBox failures" id="successRate">
                {% endif %}

                        <div class="percent">{{ domainSummary.successRate }}%</div>
                        <p>successful</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="tabs">
        <ul class="tabLinks">
            <li>
                <a href="#tab0">Domains</a>
            </li>
        </ul>
        <div id="tab2" class="tab">
            <h2>Tables / Tasks</h2>
            <table>
                <thead>
                <tr>
                    <th>Tables</th>
                    <th>Tests</th>
                    <th>Failures</th>
                    <th>Duration</th>
                    <th>Success rate</th>
                </tr>
                </thead>
                <tbody>
                {% for tableSummary in tableSummaries %}
                <tr>
                    <td class="failures">
                        <a href="{{ tableSummary.tableName }}/index.html">{{ tableSummary.tableName }}</a>
                    </td>
                    <td>{{ tableSummary.count }}</td>
                    <td>{{ tableSummary.failures }}</td>
                    <td>{{ tableSummary.duration }}s</td>
                    <td class="failures">{{ tableSummary.successRate }}%</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer">
        <p>
        <div>
            <label class="hidden" id="label-for-line-wrapping-toggle" for="line-wrapping-toggle">Wrap lines
                <input id="line-wrapping-toggle" type="checkbox" autocomplete="off"/>
            </label>
        </div>Generated by
        <a href="https://www.starlake.ai">starlake</a> at {{ timestamp }}</p>
    </div>
</div>
</body>
</html>
