<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Test results - Test Summary</title>
    <link href="../../../../css/base-style.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../css/style.css" rel="stylesheet" type="text/css"/>
    <script src="../../../../js/report.js" type="text/javascript"></script>
</head>
<body>
<div id="content">
<div class="breadcumbs">
    <a href="../../../../index.html">All</a> &gt;
    <a href="../../../index.html">{{ loadOrTransform }}</a> &gt;
    <a href="../../index.html">{{ domainName}}</a>  &gt;
<a href="../index.html">{{ tableName }}</a>

</div>

    <h1>{{testResult.testName}} Summary</h1>
    <div id="summary">
        <table>
            <tr>
                <td>
                    <div class="summaryGroup">
                        <table>
                            <tr>
                                <td>
                                    <div class="infoBox" id="tests">
                                        <div class="counter">{{ testResult.missingColumnsCount }}</div>
                                        <p>Missing Columns</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="infoBox" id="success">
                                        <div class="counter">{{ testResult.notExpectedColumnsCount }}</div>
                                        <p>Unexpected Columns</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="infoBox" id="failures">
                                        <div class="counter">{{ testResult.missingRecordsCount }}</div>
                                        <p>Missing Records</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="infoBox" id="duration">
                                        <div class="counter">{{ testResult.notExpectedRecordsCount }}</div>
                                        <p>Unexpected Records</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                {% if testResult.success %}
                    <div class="infoBox success" id="successRate">
                        <div class="percent">test</div>
                        <p>successful</p>
                    </div>
                {%- else -%}
                    <div class="infoBox failures" id="successRate">
                        <div class="percent">test</div>
                        <p>failed</p>
                    </div>
                {%- endif %}
                </td>
            </tr>
        </table>
    </div>

{% if testResult.missingColumnsCount > 0 %}
<h2>Missing Columns</h2>
<div id="tab0" class="tab">
<span class="code">
<pre>
{% for missingColumn in testResult.missingColumns %}
{{missingColumn}}
{% endfor %}
</pre>
</span>
</div>
{% endif %}

{% if testResult.notExpectedColumnsCount > 0 %}
<h2>Unexpected Columns</h2>
<div id="tab1" class="tab">
<span class="code">
<pre>
{% for notExpectedColumn in testResult.notExpectedColumns %}
{{notExpectedColumn}}
{% endfor %}
</pre>
</span>
</div>
{% endif %}

{% if testResult.missingRecordsCount > 0 %}
<h2>Missing Records</h2>
<div id="tab2" class="tab">
<span class="code">
<pre>
{% for missingRecord in testResult.missingRecords %}
{{missingRecord}}
{% endfor %}
</pre>
</span>
</div>
{% endif %}

{% if testResult.notExpectedRecordsCount > 0 %}
<h2>Unexpected Records</h2>
<div id="tab3" class="tab">
<span class="code">
<pre>
{% for notExpectedRecord in testResult.notExpectedRecords %}
{{notExpectedRecord}}
{% endfor %}
</pre>
</span>
</div>
{% endif %}

    <div id="footer">
        <p>
        <div>
            <label class="hidden" id="label-for-line-wrapping-toggle" for="line-wrapping-toggle">Wrap lines
                <input id="line-wrapping-toggle" type="checkbox" autocomplete="off"/>
            </label>
        </div>Generated by
        <a href="https://starlake.ai">starlake</a> at {{ timestamp }}</p>
    </div>
</body>
</html>
