from ai.starlake.orchestration import StarlakeDependencies, IStarlakeOrchestration

cron = "{{ context.cron }}"

import sys

orchestration: IStarlakeOrchestration = sys.modules[__name__].__dict__.get('sl_orchestration', None)

if not orchestration:
    raise Exception("Orchestration not found")

dag=orchestration.sl_generate_scheduled_tasks(dependencies=StarlakeDependencies(dependencies="""{{ context.dependencies }}"""))
defs=dag #Dagster JobDefinitions should be exposed as defs