# This template executes individual fargate jobs and requires the following dag generation options set:
#
# - aws_task_definition_name: the task definition to use for the job [REQUIRED]
# - aws_task_definition_container_name: the container name to use for the job [REQUIRED]
# - aws_cluster_name: the cluster to use for the job [REQUIRED]
# - aws_conn_id(aws_default): the connection id to use for the job (if not set, aws_default will be used) [OPTIONAL]
# - aws_region(eu-west-3): the region where the job is located (if not set, eu-west-3 will be used) [OPTIONAL]
# - cpu(1024): the cpu to use for the job (if not set, 1024 will be used) [OPTIONAL]
# - memory(2048): the memory to use for the job (if not set, 2048 will be used) [OPTIONAL]
# - aws_task_private_subnets: the private subnets to use for the job [REQUIRED]
# - aws_task_security_groups: the security groups to use for the job [REQUIRED]
# - fargate_async(True): whether to run the task asynchronously or not (if not set, True will be used) [OPTIONAL]
# - fargate_async_poke_interval(30): the interval in seconds to wait between fargate async task checks [OPTIONAL]
# - retry_on_failure(False): whether to retry the task on failure or not (if not set, False will be used) [OPTIONAL]
# - sl_env_var: starlake variables specified as a map in json format - at least the root project path SL_ROOT should be specified [OPTIONAL]
# - tags: a list of tags to be applied to the dag [OPTIONAL]
# - catchup(False): whether to catch up the missed runs or not [OPTIONAL]
# - start_date: the start date of the dag (eg. 2022-01-01) [OPTIONAL]
# - end_date: the end date of the dag (eg. 2024-12-31) [OPTIONAL]
# - retries(1): the number of retries to attempt before failing the task [OPTIONAL]
# - retry_delay(300): the delay between retries in seconds [OPTIONAL]
# - default_dag_args: the default dag arguments specified as a map in json format [OPTIONAL]
# - data_cycle_enabled(False): whether the data cycle feature is enabled or not [OPTIONAL]
# - data_cycle: the data cycle to be used for the dag [OPTIONAL]
# - beyond_data_cycle_enabled(True): whether the beyond data cycle feature is enabled or not [OPTIONAL]
# - optional_dataset_enabled(False): whether a dataset can be treated as optional [OPTIONAL]
# - dataset_triggering_strategy(any): the dataset triggering strategy to be used for the non scheduled dag, one of any or all (if not set the default 'any' strategy will be used) [OPTIONAL]
# - min_timedelta_between_runs(900): the minimum timedelta between runs in seconds (900 by default) to avoid multiple dag executions when the strategy for dataset triggering is 'any' [OPTIONAL]
# Naming rule: scheduled or sensor, global or domain or table, cloudrun or bash or dataproc or serverless with free-text
{% include 'templates/dags/__starlake_airflow_orchestrator.py' %}
{% include 'templates/dags/__starlake_fargate_execution.py' %}
{% include 'templates/dags/transform/__scheduled_task_tpl.py.j2' %}
