# This template executes individual cloud run jobs and requires the following dag generation options set:
#
# - cloud_run_project_id: the project id where the job is located (if not set, the project id of the composer environment will be used) [OPTIONAL]
# - cloud_run_job_region(europe-west1): the region where the job is located (if not set, europe-west1 will be used) [OPTIONAL]
# - cloud_run_job_name: the name of the job to execute [REQUIRED]
# - cloud_run_service_account: the service account to use for cloud run (if not set, the default service account will be used) [OPTIONAL]
# - cloud_run_async(True): whether to run the job asynchronously or not [OPTIONAL]
# - cloud_run_async_poke_interval(30): the interval in seconds to check the job status [OPTIONAL]
# - retry_on_failure(False): whether to retry the job on failure [OPTIONAL]
# - retry_delay_in_seconds(10): the delay in seconds to wait before retrying the job [OPTIONAL]
# - sl_env_var: starlake variables specified as a map in json format - at least the root project path SL_ROOT should be specified [OPTIONAL]
# - load_dependencies(False): whereas the dependencies should be added for each transformation that has to be performed within the dag (if not set, the dependencies are not added) [OPTIONAL]
# - tags: a list of tags to be applied to the dag [OPTIONAL]
# - retries(1): the number of retries to attempt before failing the task [OPTIONAL]
# - retry_delay(300): the delay between retries in seconds [OPTIONAL]
# Naming rule: scheduled or sensor, global or domain or table, cloudrun or bash or dataproc or serverless with free-text
{% include 'templates/dags/__starlake_dagster_orchestrator.py' %}
{% include 'templates/dags/__starlake_cloud_run_execution.py' %}
{% include 'templates/dags/transform/__scheduled_task_tpl.py.j2' %}
