<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Test results - Test Summary</title>
    <link href="../css/base-style.css" rel="stylesheet" type="text/css"/>
    <link href="../css/style.css" rel="stylesheet" type="text/css"/>
    <script src="../js/report.js" type="text/javascript"></script>
</head>
<body>
<div id="content">
    <h1>Load Compare Summary</h1>
    <div>
        <ul class="tabLinks">
            <li>
                <a href="#tab0">Domains</a>
            </li>
        </ul>
        <div  class="tab">
            <table>
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Count</th>
                    <th>Domain</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Added
                    </td>
                    <td>
                        {{ diff.load.countAdded }}
                    </td>
                    <td>
                        {%  for addedDomain in diff.load.added  %}
                            {{ addedDomain }}{% if not loop.last  %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        Updated
                    </td>
                    <td>
                        {{ diff.load.countUpdated }}
                    </td>
                    <td>
                        {%  for updatedDomain in diff.load.updated  %}
                            {{ updatedDomain.name }}{% if not loop.last  %},{% endif %}
                        {% endfor %}

                    </td>
                </tr>
                <tr>
                    <td >
                        Deleted
                    </td>
                    <td>
                        {{ diff.load.countDeleted }}
                    </td>
                    <td>
                        {%  for deletedDomain in diff.load.deleted  %}
                            {{ deletedDomain }}{% if not loop.last  %},{% endif %}
                        {% endfor %}

                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
    <div >
        <ul class="tabLinks">
            <li>
                <a href="#tab0">Tables</a>
            </li>
        </ul>
        <div  class="tab">
            {%  for domainDiff in diff.load.updated  %}
                <table>
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Count</th>
                        <th>Domain</th>
                        <th>Tables</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Added
                        </td>
                        <td>
                            {{ domainDiff.tables.countAdded }}
                        </td>
                        <td>
                            {{ domainDiff.name }}
                        </td>
                        <td>
                            {%  for addedTable in domainDiff.tables.added  %}
                                {{ addedTable }}{% if not loop.last  %},{% endif %}
                            {% endfor %}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Updated
                        </td>
                        <td>
                            {{ domainDiff.tables.countUpdated }}
                        </td>
                        <td>
                            {{ domainDiff.name }}
                        </td>
                        <td>
                            {%  for updatedTable in domainDiff.tables.updated  %}
                                {{ updatedTable.name }}{% if not loop.last  %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td >
                            Deleted
                        </td>
                        <td>
                            {{ domainDiff.tables.countDeleted }}
                        </td>
                        <td>
                            {{ domainDiff.name }}
                        </td>
                        <td>
                            {%  for deletedTable in domainDiff.tables.deleted  %}
                                {{ deletedTable }}{% if not loop.last  %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>

                    </tbody>
                </table>
            {% endfor %}
        </div>

    </div>

    <div >
        <ul class="tabLinks">
            <li>
                <a href="#tab0">Attributes</a>
            </li>
        </ul>
        <div  class="tab">
            {%  for domainDiff in diff.load.updated  %}
            {%  for tableDiff in domainDiff.tables.updated %}
                <table>
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Count</th>
                        <th>Domain</th>
                        <th>Table</th>
                        <th>Attributes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Added
                        </td>
                        <td>
                            {% if tableDiff.attributes is truthy %}
                                {{ tableDiff.attributes.countAdded }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>
                            {{ domainDiff.name }}
                        </td>
                        <td>
                            {{ tableDiff.name }}
                        </td>
                    <td>
                        {%  for addedAttribute in tableDiff.attributes.added  %}
                            {{ addedAttribute }}{% if not loop.last  %},{% endif %}
                        {% endfor %}
                    </td>

                    </tr>
                    <tr>
                        <td>
                            Updated
                        </td>
                        <td>
                            {% if tableDiff.attributes is truthy %}
                                {{ tableDiff.attributes.countUpdated }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>
                            {{ domainDiff.name }}
                        </td>
                        <td>
                            {{ tableDiff.name }}
                        </td>
                        <td>
                            {%  for updatedAttribute in tableDiff.attributes.updated  %}
                                <div class="popup" onclick="showPopup(this)">
                                    <div class="popuptext">
                                        {%  for change in updatedAttribute.changes  %}
                                        <div>{{ change.key }}: {{ change.before }} ->  {{ change.after }}</div>
                                        {% endfor %}
                                    </div>
                                    {{ updatedAttribute.name }}
                                </div>
                                {% if not loop.last  %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td >
                            Deleted
                        </td>
                        <td>
                            {% if tableDiff.attributes is truthy %}
                                {{ tableDiff.attributes.countDeleted }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>
                            {{ domainDiff.name }}
                        </td>
                        <td>
                            {{ tableDiff.name }}
                        </td>
                        <td>
                            {%  for deletedAttribute in tableDiff.attributes.deleted  %}
                                {{ deletedAttribute.name }}{% if not loop.last  %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>

                    </tbody>
                </table>
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div id="footer">
        <p>
        <div>
            <label class="hidden" id="label-for-line-wrapping-toggle" for="line-wrapping-toggle">Wrap lines
                <input id="line-wrapping-toggle" type="checkbox" autocomplete="off"/>
            </label>
        </div>Generated by
        <a href="https://starlake.ai">starlake</a> at {{ timestamp }}</p>
    </div>
</div>
</body>
</html>
