{% macro expect_table_row_count_to_be_between(table_name, lower_bound, upper_bound) %}
-- This macro checks if the number of rows in a table is between a given range.
SELECT 
    CASE 
        WHEN (COUNT(*) BETWEEN {{ lower_bound }} AND {{ upper_bound }}) 
        THEN 0 ELSE 1 
    END AS is_valid
FROM {{ table_name }};
{% endmacro %}

{% macro expect_table_row_count_to_equal(table_name, expected_value) %}
-- This macro checks if the number of rows in a table equals a specified value.
SELECT 
    CASE 
        WHEN COUNT(*) = {{ expected_value }} 
        THEN 0 ELSE 1 
    END AS is_valid
FROM {{ table_name }};
{% endmacro %}

{% macro expect_table_row_count_to_equal_other_table(table1_name, table2_name) %}
-- This macro checks if the number of rows in one table equals the number of rows in another table.
WITH Table1RowCount AS (
    SELECT COUNT(*) AS row_count FROM {{ table1_name }}
),
Table2RowCount AS (
    SELECT COUNT(*) AS row_count FROM {{ table2_name }}
)
SELECT 
    CASE 
        WHEN t1.row_count = t2.row_count 
        THEN 0 ELSE 1 
    END AS is_valid
FROM Table1RowCount t1
CROSS JOIN Table2RowCount t2;
{% endmacro %}

