.ui-tabview.ui-tabview-top > .ui-tabview-nav li{
	border-bottom: 1px solid #BEBEBE;;
}

.ui-tabview .ui-tabview-nav > li.ui-state-active{
	border-bottom-color: #FFFFFF;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav{
	padding: 0px;
}

.ui-tabview-panels{
	border: 1px solid #BEBEBE;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-top: -1px;
}

.detialsListServers{
	display: block;
}

.detialsListServers table tbody > tr{
	background: #FFFFFF !important;
	color: #222222 !important;
}

.detialsListServers table tbody > tr:nth-child(even) {
	background-color: #FAFAFB !important;
}

.detialsListServers .check{
	width: 50px;
}

/* Filter Caption */
.detialsListServers .table-caption{
	position: relative;
	height: 27px;
}

.detialsListServers .table-caption .filter{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}

.detialsListServers .table-caption .filter .filter-input{
	min-width: 200px;
    padding: 3px 5px 3px 25px;
    font-size: 14px;
    line-height: 14px;
    color: #495057;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.detialsListServers .table-caption .filter .fa-search{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 6px;
	left: 5px;
	font-size: 14px;
}