{% if newAttributes %}
ALTER TABLE {{ domain }}.{{ schema }}
{% for attribute in newAttributes %}
    ADD COLUMN {{ attribute.ddl }} options(description="{{ attribute.comment }}"){% if not loop.last %},{% endif %}

{% endfor %}
)
options(description="{{ domainComment }}");
{% endif %}

{% if droppedAttributes %}
ALTER TABLE {{ domain }}.{{ schema }}
{% for attribute in droppedAttributes %}
    DROP COLUMN {{ attribute.name }}{% if not loop.last %},{% endif %}

{% endfor %}
)
{% endif %}

{% if alterCommentAttributes %}
{% for attribute in alterCommentAttributes %}
    ALTER COLUMN {{ attribute.name }} SET OPTIONS(description = {{ attribute.comment }}){% if not loop.last %},{% endif %}

{% endfor %}
)
{% endif %}

{% if alterRequiredAttributes %}
{% for attribute in alterRequiredAttributes %}
    ALTER COLUMN {{ attribute.name }} "DROP NOT NULL"{% if not loop.last %},{% endif %}

{% endfor %}
)
{% endif %}

{% if alterDataTypeAttributes %}
{% for attribute in alterDataTypeAttributes %}
    ALTER COLUMN {{ attribute.name }} SET DATA TYPE {{ attribute.type }}{% if not loop.last %},{% endif %}

{% endfor %}
)
{% endif %}
