CREATE TABLE IF NOT EXISTS {{ domainName }}.{{ tableName }} (
{% for attribute in attributes %}
    {{ attribute.ddl }}{% if not loop.last %},{% endif %}

{% endfor %}
)
{% if clustered %}
CLUSTER BY {{ clustered | join(",") }}
{% endif %}
{% if tableComment %}
COMMENT '{{ tableComment }}'
{% endif %}
;
