alter session set TIMESTAMP_TYPE_MAPPING = 'TIMESTAMP_LTZ';
CREATE SCHEMA IF NOT EXISTS {{ domainName }}
{% if domainLabels %}
WITH TAG ({% for k, v in domainLabels.items() %}{{ k }} = '{{ v }}'{% if not loop.last %},{% endif %}{% endfor %})
{% endif %}
COMMENT = '{{ domainComment }}';


CREATE SCHEMA IF NOT EXISTS AUDIT;
CREATE TABLE IF NOT EXISTS AUDIT.AUDIT (
    jobid VARCHAR,
    paths VARCHAR,
    domain VARCHAR,
    schema VARCHAR,
    success BOOLEAN,
    count INTEGER,
    countAccepted INTEGER,
    countRejected INTEGER,
    timestamp TIMESTAMP,
    duration INTEGER,
    message VARCHAR,
    step VARCHAR
 );
