{# Azure integration SQL - env vars should be passed as template variables #}
CREATE OR REPLACE STORAGE INTEGRATION {{ azure_integration }}
  TYPE = EXTERNAL_STAGE
  STORAGE_PROVIDER = 'AZURE'
  ENABLED = TRUE
  AZURE_TENANT_ID = '{{ azure_tenant }}'
  STORAGE_ALLOWED_LOCATIONS = ({% for domain in domains %}'azure://{{ azure_account }}.blob.core.windows.net/{{ azure_container }}/{{ domain.finalName }}/'{% if not loop.last %},{% endif %}{% endfor %});
DESC STORAGE INTEGRATION {{ azure_integration }};

{% for domain in domains %}
CREATE STAGE {{ domain.finalName | upper }}_STAGE
  URL = 'azure://{{ azure_account }}.blob.core.windows.net/{{ azure_container }}/{{ domain.finalName }}/'
  STORAGE_INTEGRATION = {{ azure_integration }};
{% endfor %}

CREATE NOTIFICATION INTEGRATION {{ azure_notification_integration }}
  ENABLED = true
  TYPE = QUEUE
  NOTIFICATION_PROVIDER = AZURE_STORAGE_QUEUE
  AZURE_STORAGE_QUEUE_PRIMARY_URI = 'https://STARLAKE.queue.core.windows.net/STARLAKE_QUEUE'
  AZURE_TENANT_ID = '{{ azure_tenant }}';
DESC NOTIFICATION INTEGRATION {{ azure_notification_integration }};

{% for domain in domains %}
CREATE OR REPLACE STORAGE INTEGRATION {{ domain.finalName }}_integration
  TYPE = EXTERNAL_STAGE
  STORAGE_PROVIDER = 'AZURE'
  ENABLED = TRUE
  AZURE_TENANT_ID = '{{ azure_tenant }}'
  STORAGE_ALLOWED_LOCATIONS = ('azure://{{ azure_account }}.blob.core.windows.net/{{ azure_container }}/{{ domain.finalName }}/');
DESC STORAGE INTEGRATION {{ domain.finalName }}_integration;
{% for table in domain.tables %}
CREATE OR REPLACE PIPE {{ domain.finalName | upper }}_{{ table.finalName | upper }}_pipe
  AUTO_INGEST = TRUE
  INTEGRATION = '{{ azure_notification_integration }}'
  AS
  COPY INTO {{ table.finalName }}
  FROM @{{ domain.finalName | upper }}_STAGE
  FILE_FORMAT = (TYPE = 'JSON');
{% endfor %}
{% endfor %}

/*
az login
az provider register --namespace Microsoft.EventGrid
az provider show --namespace Microsoft.EventGrid --query "registrationState"
az group create --name {{ azure_group }} --location {{ azure_location }}
az storage account create --resource-group {{ azure_group }} --name {{ azure_storage_account }} --sku Standard_LRS --location {{ azure_location }} --kind StorageV2 --access-tier Hot
*/
