
{% if materializedView == 'MATERIALIZED_VIEW' %}
{% set createTable = 'CREATE MATERIALIZED VIEW ' + tableFullName %}
{% else %}
{% set createTable = 'CREATE TABLE ' + tableFullName %}
{% endif %}

{{ createTable }} AS SELECT * FROM ({{selectStatement }}) WHERE 1=0;


{%  if sinkTablePartitionClause == '' %}
{% else %}
ALTER TABLE {{ tableFullName }} SET {{ sinkTablePartitionClause }};
{% endif %}

{% if strategyOn == 'TARGET' %}

INSERT INTO {{ tableFullName }} {{selectStatement }};

{% elif strategyOn == 'SOURCE_AND_TARGET' and strategyTimestamp == '' %}

INSERT INTO {{ tableFullName }}
WITH SL_INCOMING AS ({{selectStatement }}),
SL_VIEW_WITH_ROWNUM AS (SELECT {{ tableColumnsCsv }}, ROW_NUMBER() OVER (PARTITION BY {{ strategyKeyCsv }} ORDER BY (select 0)) AS SL_SEQ FROM SL_INCOMING)
SELECT  {{ tableColumnsCsv }} FROM SL_VIEW_WITH_ROWNUM WHERE SL_SEQ = 1;

{% else %} {# strategyOn == 'SOURCE_AND_TARGET' and timestamp is present #}

INSERT INTO {{ tableFullName }}
WITH SL_INCOMING AS ({{ selectStatement }}),
SL_VIEW_WITH_ROWNUM AS (
  SELECT  {{ tableColumnsCsv }},
          ROW_NUMBER() OVER (PARTITION BY  {{ strategyKeyCsv }} ORDER BY {{ strategyTimestamp }} DESC) AS SL_SEQ
  FROM SL_INCOMING
)
SELECT {{ tableColumnsCsv }} FROM SL_VIEW_WITH_ROWNUM WHERE SL_SEQ = 1;

{%  endif %}


{% if strategyType == 'SCD2' %}
ALTER TABLE {{ tableFullName }} ADD COLUMN {{ strategyStartTs }} TIMESTAMP;
ALTER TABLE {{ tableFullName }} ADD COLUMN {{ strategyEndTs }} TIMESTAMP;
{% endif %}
