{% macro renderCondition(table1, table2, columnNames) %}
    {% for columnName in columnNames %}{{table1}}.{{ columnName }} = {{table2}}.{{ columnName }}{% if not loop.last %} AND {% endif %}{%endfor%}
{% endmacro %}


CREATE OR REPLACE VIEW SL_INCOMING AS {{ selectStatement }};

{% if strategyOn == 'TARGET' %}


DELETE FROM {{ tableFullName }}
WHERE EXISTS
(
SELECT 1 FROM SL_INCOMING
WHERE {{ renderCondition(tableFullName, 'SL_INCOMING', strategyKey) }}
);

{% else %} {# strategyOn == 'SOURCE_AND_TARGET' #}

CREATE OR REPLACE VIEW SL_VIEW_WITH_ROWNUM AS (
SELECT {{ tableColumnsCsv }}, ROW_NUMBER() OVER (PARTITION BY  {{ strategyKeyCsv }} ORDER BY {{ strategyTimestamp }} DESC) AS SL_SEQ
FROM #SL_INCOMING
);

DELETE FROM {{ tableFullName }}
WHERE EXISTS (
SELECT 1 FROM SL_VIEW_WITH_ROWNUM
WHERE {{ renderCondition(tableFullName, 'SL_VIEW_WITH_ROWNUM', strategyKey) }}
);

{% endif %}

INSERT INTO {{ tableFullName }} ({{ tableColumnsCsv }}) SELECT {{ tableColumnsCsv }} FROM SL_INCOMING
WHERE {% for mergeKey in quotedStrategyKey %}{{ mergeKey }} IS NOT NULL{% if not loop.last %} AND {% endif %}{%endfor%};

DROP VIEW IF EXISTS SL_VIEW_WITH_ROWNUM;
DROP VIEW IF EXISTS SL_INCOMING;

