DBNAME=Adventureworks
DBUSER=dbuser
DBPASSWD=dbuser123
OUTPUT_DIR=/tmp/data


if [[ -z "$OUTPUT_DIR" ]]; then
echo "Variable OUTPUT_DIR undefined"
exit 1
fi

if [[ -z "$DBNAME" ]]; then
echo "Variable DBNAME undefined"
exit 1
fi

if [[ -z "$DBUSER" ]]; then
echo "Variable DBUSER undefined"
exit 1
fi

if [[ -z "$DBPASSWD" ]]; then
echo "Variable DBPASSWD undefined"
exit 1
fi


PGPASSWORD=$DBPASSWD LAST_EXPORT_TS=`psql -U $DBUSER -d $DBNAME -c "CREATE TABLE IF NOT EXISTS {{audit_schema}}.COMET_EXPORT_STATUS ( \
TS TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\
SCHEMA_NAME VARCHAR,\
TABLE_NAME VARCHAR,\
LAST_EXPORT_TS TIMESTAMP,\
TYPE_LAST_EXPORT VARCHAR,\
NB_ROWS_LAST_EXPORT BIGINT\
)"`


PGPASSWORD=$DBPASSWD LAST_EXPORT_TS=`psql -U $DBUSER -d $DBNAME -t -c "SELECT CURRENT_TIMESTAMP"`

{{#full_export}}
mkdir -p $OUTPUT_DIR/FULL/{{domain}}
PGPASSWORD=$DBPASSWD psql -U $DBUSER -d $DBNAME -c "COPY {{domain}}.{{table}} TO '$OUTPUT_DIR/FULL/{{domain}}/{{table}}.csv'  WITH (DELIMITER '{{delimiter}}', FORCE_QUOTE *, FORMAT CSV, HEADER);"

INSERT_AUDIT="INSERT INTO {{audit_schema}}.COMET_EXPORT_STATUS (SCHEMA_NAME, TABLE_NAME, LAST_EXPORT_TS, TYPE_LAST_EXPORT, NB_ROWS_LAST_EXPORT) VALUES('{{domain}}', '{{table}}', timestamp '$LAST_EXPORT_TS', 'FULL',(SELECT COUNT(*) FROM {{domain}}.{{table}}))"
{{/full_export}}


{{^full_export}}
mkdir -p $OUTPUT_DIR/DELTA/{{domain}}
PGPASSWORD=$DBPASSWD psql -U $DBUSER -d $DBNAME -c "COPY(SELECT * FROM {{domain}}.{{table}} WHERE {{delta_column}} >= '$LAST_EXPORT_TS' AND {{delta_column}} IS NOT NULL;) TO '$OUTPUT_DIR/DELTA/{{domain}}/{{table}}.csv'  WITH (DELIMITER '{{delimiter}}', FORCE_QUOTE *, FORMAT CSV, HEADER);"

INSERT_AUDIT="INSERT INTO {{audit_schema}}.COMET_EXPORT_STATUS (SCHEMA_NAME, TABLE_NAME, LAST_EXPORT_TS, TYPE_LAST_EXPORT, NB_ROWS_LAST_EXPORT) VALUES('{{domain}}', '{{table}}', timestamp '$LAST_EXPORT_TS', 'DELTA', (SELECT COUNT(*) FROM {{domain}}.{{table}} WHERE {{delta_column}} >= '$LAST_EXPORT_TS' AND {{delta_column}} IS NOT NULL))"
{{/full_export}}

PGPASSWORD=$DBPASSWD psql -U $DBUSER -d $DBNAME -c "$INSERT_AUDIT"
