IF OBJECT_ID('tempdb..#SL_INCOMING') IS NOT NULL DROP TABLE #SL_INCOMING;

SELECT * INTO #SL_INCOMING FROM ({{ selectStatement }}) AS S;

{% if strategyOn == 'SOURCE_AND_TARGET' %}
;WITH CTE AS (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY {{ strategyKeyCsv }} ORDER BY {{ strategyTimestamp }} DESC) AS RN
    FROM #SL_INCOMING
)
DELETE FROM CTE WHERE RN > 1;
{% endif %}

UPDATE T
SET T.{{ strategyEndTs }} = CURRENT_TIMESTAMP
FROM {{ tableFullName }} T
INNER JOIN #SL_INCOMING S
ON {{ renderStrategyKeyJoinCondition('T', 'S', strategyKey) }}
WHERE T.{{ strategyEndTs }} IS NULL 
AND S.{{ strategyTimestamp }} > T.{{ strategyTimestamp }};

INSERT INTO {{ tableFullName }} ({{ renderColumnsWithoutScd2(tableColumnNames, "") }}, {{ quote }}{{ strategyStartTs }}{{ quote }}, {{ quote }}{{ strategyEndTs }}{{ quote }})
SELECT {{ renderColumnsWithoutScd2(tableColumnNames, 'S.') }}, CURRENT_TIMESTAMP, NULL
FROM #SL_INCOMING S
LEFT JOIN {{ tableFullName }} T 
ON {{ renderStrategyKeyJoinCondition('T', 'S', strategyKey) }} AND T.{{ strategyEndTs }} IS NULL
WHERE {{ renderStrategyKeyIsNull('T', strategyKey) }}
OR S.{{ strategyTimestamp }} > T.{{ strategyTimestamp }};

DROP TABLE #SL_INCOMING;
