{% if materializedView == 'MATERIALIZED_VIEW' %}
{% set createTable = 'CREATE MATERIALIZED VIEW ' + tableFullName %}
{% else %}
{% set createTable = 'CREATE TABLE ' + tableFullName %}
{% endif %}

{% if strategyOn == 'TARGET' %}

{{ createTable }} AS {{selectStatement }};

{% elif strategyOn == 'SOURCE_AND_TARGET' and strategyTimestamp == '' %}

{{ createTable }} AS
SELECT {{ tableColumnsCsv }}
FROM ({{selectStatement }})
QUALIFY ROW_NUMBER() OVER (PARTITION BY {{ strategyKeyCsv }} ORDER BY (select 0)) = 1;

{% else %} {# strategyOn == 'SOURCE_AND_TARGET' and timestamp is present #}

{{ createTable }} AS
SELECT  {{ tableColumnsCsv }}
FROM ({{ selectStatement }})
QUALIFY ROW_NUMBER() OVER (PARTITION BY  {{ strategyKeyCsv }} ORDER BY {{ strategyTimestamp }} DESC) = 1;
{%  endif %}


{% if strategyType == 'SCD2' %}
ALTER TABLE {{ tableFullName }} ADD COLUMN {{ strategyStartTs }} TIMESTAMP;
ALTER TABLE {{ tableFullName }} ADD COLUMN {{ strategyEndTs }} TIMESTAMP;
{% endif %}
