

DELETE FROM {{ tableFullName }} 
WHERE {{ sinkPartition | first }} IN (SELECT DISTINCT {{ sinkPartition | first }} FROM ({{ selectStatement }}));

INSERT INTO {{ tableFullName }}({{ tableColumnsCsv }}) {{ selectStatement }};

