
{% if strategyOn == 'TARGET' %}

MERGE INTO  {{ tableFullName }} SL_EXISTING USING ({{ selectStatement }}) SL_INCOMING ON ( {{ strategyKeyJoinCondition }})
WHEN MATCHED THEN  UPDATE {{ tableUpdateSetExpression }}
WHEN NOT MATCHED THEN {{ tableInsert }}

{% else %} {# strategyOn == 'SOURCE_AND_TARGET' #}

MERGE INTO {{ tableFullName  }} SL_EXISTING 
USING 
  ( SELECT {{ tableColumnsCsv }}
    FROM ({{ selectStatement }}) SL_TMP1
    QUALIFY ROW_NUMBER() OVER (PARTITION BY {{ strategyKeyCsv }}  ORDER BY (select 0)) = 1
  ) SL_INCOMING
ON ( {{strategyKeyJoinCondition}} )
WHEN MATCHED THEN UPDATE {{ tableUpdateSetExpression }}
WHEN NOT MATCHED THEN {{ tableInsert }}

{%  endif %}
