
{#

{{ sinkConnectionRef }}
{{ sinkClustering }}
{{ sinkDays }}
{{ sinkRequirePartitionFilter }}
{{ sinkEnableRefresh }}
{{ sinkRefreshIntervalMs }}
{{ sinkId }}
{{ sinkFormat }}
{{ sinkExtension }}
{{ sinkPartition }}
{{ sinkCoalesce }}
{{ sinkOptions }}
{{ sinkTableOptionsClause }}
{{ sinkTablePartitionClause }}
{{ sinkTableClusteringClause }}

{{ tableDatabase }}
{{ tableDomain }}
{{ tableName }}
{{ tableColumnNames }}
{{ quotedTableColumnNames }}
{{ tableFullName }}
{{ selectStatement }}
{{ tableExists }}
{{ tableTruncate }}
{{ tableParamsForInsertSql }}
{{ tableParamsForUpdateSql }}
{{ tableInsert }}
UPDATE {{ tableUpdateSetExpression }}
{{ tableColumnsCsv }}
{{ tableIncomingColumnsCsv }}
{{ materializedView }}

{{ engineQuote }}
{{ engineCanMerge }}
{{ engineViewPrefix }}
{{ enginePreActions }}
{{ engineStrategyBuilder }}

{{ strategyType }}
{{ strategyTypes }}
{{ strategyKey }}
{{ strategyTimestamp }}
{{ strategyQueryFilter }}
{{ strategyOn }}
{{ strategyStartTs }}
{{ strategyEndTs }}
{{ strategyKeyCsv }}
{{ strategyKeyJoinCondition }}

#}

{% if materializedView == 'MATERIALIZED_VIEW' %}
{% set createTable = 'CREATE MATERIALIZED VIEW ' + tableFullName %}
{% else %}
{% set createTable = 'CREATE TABLE ' + tableFullName + ' ' + sinkTablePartitionClause + ' ' + sinkTableClusteringClause %}
{% endif %}

{% if strategyOn == 'TARGET' %}

{{ createTable }} AS {{ selectStatement }};

{% elif strategyOn == 'SOURCE_AND_TARGET' and strategyTimestamp == '' %}

{{ createTable }} AS
WITH SL_INCOMING AS ({{selectStatement }})
SELECT {{ tableColumnsCsv }}
FROM SL_INCOMING
QUALIFY ROW_NUMBER() OVER (PARTITION BY {{ strategyKeyCsv }} ORDER BY (select 0)) = 1;

{% else %} {# strategyOn == 'SOURCE_AND_TARGET' and timestamp is present #}

{{ createTable }} AS
WITH SL_INCOMING AS ({{ selectStatement }})
SELECT  {{ tableColumnsCsv }},
FROM SL_INCOMING
QUALIFY ROW_NUMBER() OVER (PARTITION BY {{ strategyKeyCsv }} ORDER BY {{ strategyTimestamp }} DESC) = 1;

{%  endif %}


{% if strategyType == 'SCD2' %}
ALTER TABLE {{ tableFullName }} ADD COLUMN {{ strategyStartTs }} TIMESTAMP;
ALTER TABLE {{ tableFullName }} ADD COLUMN {{ strategyEndTs }} TIMESTAMP;
{% endif %}

