
BEGIN TRANSACTION;

ALTER TABLE {{ tableFullName }} SET OPTIONS (require_partition_filter = false);

DELETE FROM {{ tableFullName }} 
WHERE {{ sinkPartition | first }} IN (SELECT DISTINCT {{ sinkPartition | first }} FROM ({{ selectStatement }}));

INSERT INTO {{ tableFullName }}({{ tableColumnsCsv }}) {{ selectStatement }};

{% if sinkRequirePartitionFilter == 'true' %}
ALTER TABLE {{ tableFullName }} SET OPTIONS (require_partition_filter = true);
{% endif %}


COMMIT TRANSACTION;
