# This template executes individual bash jobs and requires the following dag generation options set:
#
# - sl_env_var: starlake variables specified as a map in json format - at least the root project path SL_ROOT should be specified [OPTIONAL]
# - SL_STARLAKE_PATH(starlake): the path to the starlake executable [OPTIONAL]
# - pre_load_strategy(none): The optional pre-load strategy to use to conditionaly load a domain, one of imported, ack, pending or none (if not set, the default 'none' strategy will be used) [OPTIONAL]
# - incoming_path({{SL_ROOT}}/incoming): when the domain preloading strategy has been set to 'imported', the path to the incoming landing zone (if not specified, the default {{SL_ROOT}}/incoming path will be used) [OPTIONAL]
# - pending_path({{SL_ROOT}}/datasets/pending): when the domain preloading strategy has been set to 'pending', the path to the pending landing zone (if not specified, the default {{SL_ROOT}}/datasets/pending will be used) [OPTIONAL]
# - global_ack_file_path: when the domain preloading strategy has been set to 'ack', the path to the global ack file [OPTIONAL]
# - tags: a list of tags to be applied to the dag [OPTIONAL]
# - start_date: the start date of the dag (eg. 2022-01-01) [OPTIONAL]
# - end_date: the end date of the dag (eg. 2024-12-31) [OPTIONAL]
#
{% include 'templates/dags/__starlake_airflow_bash_job.py.j2' %}
{% include 'templates/dags/load/__airflow_scheduled_table_tpl.py.j2' %}
