# This template executes individual bash jobs and requires the following dag generation options set:
#
# - sl_env_var: starlake variables specified as a map in json format - at least the root project path SL_ROOT should be specified [OPTIONAL]
# - SL_STARLAKE_PATH(starlake): the path to the starlake executable [OPTIONAL]
# - pre_load_strategy(none): The optional pre-load strategy to use to conditionaly load a domain, one of imported, ack, pending or none (if not set, the default 'none' strategy will be used) [OPTIONAL]
# - global_ack_file_path: when the domain preloading strategy has been set to 'ack', the path to the global ack file [OPTIONAL]
# - ack_wait_timeout(3600): when the domain preloading strategy has been set to 'ack', the timeout in seconds to wait for the ack file [OPTIONAL]
# - tags: a list of tags to be applied to the dag [OPTIONAL]
# - start_date: the start date of the dag (eg. 2022-01-01) [OPTIONAL]
# - end_date: the end date of the dag (eg. 2024-12-31) [OPTIONAL]
# - retries(1): the number of retries to attempt before failing the task [OPTIONAL]
# - retry_delay(300): the delay between retries in seconds [OPTIONAL]
# - default_dag_args: the default dag arguments specified as a map in json format [OPTIONAL]
#
{% include 'templates/dags/__starlake_airflow_orchestrator.py' %}
{% include 'templates/dags/__starlake_shell_execution.py' %}
{% include 'templates/dags/load/__scheduled_table_tpl.py.j2' %}
