# This template executes individual bash jobs and requires the following dag generation options set:
#
# - SL_ROOT: The root project path
# - SL_STARLAKE_PATH: the path to the starlake executable
#
{% include 'templates/dags/__starlake_bash_operator.py.j2' %}
sl_operator = StarlakeBashOperator()
{% include 'templates/dags/load/__scheduled_table_tpl.py.j2' %}
