ALTER TABLE {{ domain }}.{{ schema }}
{% for attribute in newAttributes %}
    ADD COLUMN IF NOT EXISTS {{ attribute.ddl }} options(description="{{ attribute.comment }}"){% if not loop.last %},{% endif %}

{% endfor %}
)
options(description="{{ domainComment }}");

ALTER TABLE {{ domain }}.{{ schema }}

{% for attribute in droppedAttributes %}
    DROP COLUMN IF EXISTS {{ attribute.name }}{% if not loop.last %},{% endif %}

{% endfor %}
)

{% for attribute in alterCommentAttributes %}
    ALTER COLUMN IF EXISTS {{ attribute.name }} SET OPTIONS(description = {{ attribute.comment }}){% if not loop.last %},{% endif %}

{% endfor %}
)

{% for attribute in alterRequiredAttributes %}
    ALTER COLUMN IF EXISTS {{ attribute.name }} "DROP NOT NULL"{% if not loop.last %},{% endif %}

{% endfor %}
)

{% for attribute in alterDataTypeAttributes %}
    ALTER COLUMN IF EXISTS {{ attribute.name }} SET DATA TYPE {{ attribute.type }}{% if not loop.last %},{% endif %}

{% endfor %}
)
