{% macro is_col_value_not_unique(col, table='sl_this') %}
    SELECT max(cnt)
    FROM (SELECT {{ col }}, count(*) as cnt FROM {{ table }}
    GROUP BY {{ col }})
{% endmacro %}

{% macro is_row_count_to_be_between(min_value, max_value, table_name = 'SL_THIS') -%}
    select
    case
    when count(*) between {{min_value}} and {{max_value}} then 1
    else 0
    end
    from {{table_name}}
{%- endmacro %}

{% macro col_value_count_greater_than(col, table_name='SL_THIS') %}
    SELECT {{ col }}, count(*) FROM {{ table_name }}
    GROUP BY {{ col }}
    HAVING count(*) > {{ count }}
{% endmacro %}


{% macro count_by_value(col, value, table='sl_this') %}
    SELECT count(*)
    FROM {{ table }}
    WHERE {{ col }} LIKE '{{ value }}'
{% endmacro %}


{% macro column_occurs(col, times, table='sl_this') %}
    SELECT max(cnt)
    FROM  (
    SELECT {{ col }}, count(*) as cnt FROM {{ table }}
    GROUP BY {{ col }}
    HAVING cnt == {{ times }}
    )
{% endmacro %}
