{% macro unexpected_rows_expectation(table1_name, table2_name, key_column) %}
-- This macro generates a SQL query that identifies rows in one table that do not have a matching row in another table based on a specified key.
--
-- Parameters:
-- table1_name: The name of the first table to check.
-- table2_name: The name of the second table to check.
-- key_column: The key column to join the tables on.
--
-- Returns:
-- The rows in the first table that do not have a matching row in the second table based on the specified key.
--
-- This will generate a query like:
-- SELECT table1.*
-- FROM table1_name AS table1
-- LEFT JOIN table2_name AS table2
-- ON table1.key_column = table2.key_column
-- WHERE table2.key_column IS NULL;

SELECT table1.*
FROM {{ table1_name }} AS table1
LEFT JOIN {{ table2_name }} AS table2
ON table1.{{ key_column }} = table2.{{ key_column }}
WHERE table2.{{ key_column }} IS NULL;
{% endmacro %}