DBHOST=localhost
DBNAME=Adventureworks
DBUSER=dbuser
DBPASSWD=dbuser123
OUTPUT_DIR=/tmp/data


if [[ -z "$OUTPUT_DIR" ]]; then
echo "Variable OUTPUT_DIR undefined"
exit 1
fi

if [[ -z "$DBHOST" ]]; then
echo "Variable DBHOST undefined"
exit 1
fi

if [[ -z "$DBUSER" ]]; then
echo "Variable DBUSER undefined"
exit 1
fi

if [[ -z "$DBPASSWD" ]]; then
echo "Variable DBPASSWD undefined"
exit 1
fi


mysql -h $DBHOST -u $DBUSER -p$DBPASSWD {{domain}} << EOF

CREATE TABLE IF NOT EXISTS {{audit_schema}}.COMET_EXPORT_STATUS (
    TS TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    SCHEMA_NAME VARCHAR(255),
    TABLE_NAME VARCHAR(255),
    LAST_EXPORT_TS TIMESTAMP,
    TYPE_LAST_EXPORT VARCHAR(255),
    NB_ROWS_LAST_EXPORT BIGINT
)

EOF


LAST_EXPORT_TS=`mysql -h $DBHOST -u $DBUSER -p$DBPASSWD {{domain}} -sN -e "SELECT CURRENT_TIMESTAMP"`

{{#full_export}}
mkdir -p $OUTPUT_DIR/FULL/{{domain}}
rm  $OUTPUT_DIR/FULL/{{domain}}/{{table}}.csv
mysql -h $DBHOST -u $DBUSER -p$DBPASSWD {{domain}} << EOF
    SET @SQL = (select CONCAT('
    SELECT *  INTO OUTFILE \'$OUTPUT_DIR/FULL/{{domain}}/{{table}}.csv\' FIELDS TERMINATED BY \',\' OPTIONALLY ENCLOSED BY \'"\' ESCAPED BY \'\' LINES TERMINATED BY \'\\n\' FROM (SELECT ', GROUP_CONCAT(CONCAT("'",COLUMN_NAME,"'")),'
    UNION
    select * from {{domain}}.{{table}}) as tmp') from INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{{table}}' AND TABLE_SCHEMA = '{{domain}}' order BY ORDINAL_POSITION);
    PREPARE stmt FROM @SQL;
    EXECUTE stmt;

    INSERT INTO {{audit_schema}}.COMET_EXPORT_STATUS (SCHEMA_NAME, TABLE_NAME, LAST_EXPORT_TS, TYPE_LAST_EXPORT, NB_ROWS_LAST_EXPORT) VALUES('{{domain}}', '{{table}}', timestamp '$LAST_EXPORT_TS', 'FULL',(SELECT COUNT(*) FROM {{domain}}.{{table}}))
EOF

{{/full_export}}

{{^full_export}}
mkdir -p $OUTPUT_DIR/DELTA/{{domain}}
rm  $OUTPUT_DIR/FULL/{{domain}}/{{table}}.csv
mysql -h $DBHOST -u $DBUSER -p$DBPASSWD {{domain}} << EOF
    SET @SQL = (select CONCAT('
    SELECT *  INTO OUTFILE \'$OUTPUT_DIR/FULL/{{domain}}/{{table}}.csv\' FIELDS TERMINATED BY \',\' OPTIONALLY ENCLOSED BY \'"\' ESCAPED BY \'\' LINES TERMINATED BY \'\\n\' FROM (SELECT ', GROUP_CONCAT(CONCAT("'",COLUMN_NAME,"'")),'
    UNION
    select * from {{domain}}.{{table}}) WHERE {{delta_column}} >= '$LAST_EXPORT_TS' AND {{delta_column}} IS NOT NULL as tmp') from INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{{table}}' AND TABLE_SCHEMA = '{{domain}}' order BY ORDINAL_POSITION);
    PREPARE stmt FROM @SQL;
    EXECUTE stmt;

    INSERT INTO {{audit_schema}}.COMET_EXPORT_STATUS (SCHEMA_NAME, TABLE_NAME, LAST_EXPORT_TS, TYPE_LAST_EXPORT, NB_ROWS_LAST_EXPORT) VALUES('{{domain}}', '{{table}}', timestamp '$LAST_EXPORT_TS', 'DELTA', (SELECT COUNT(*) FROM {{domain}}.{{table}} WHERE {{delta_column}} >= '$LAST_EXPORT_TS' AND {{delta_column}} IS NOT NULL))
EOF
{{/full_export}}
