***************************************************************************************************
{{{programName}}}
***************************************************************************************************


Synopsis
--------

**{{{synopsis}}}**


Description
-----------

{{{description}}}

Options
-------

{{#options}}
    .. option:: --{{{name}}}: {{{value}}}

    *{{{required}}}{{{unbounded}}}*. {{{description}}}


{{/options}}