name: Release
# Run workflow on commits to the `master` branch
on:
  workflow_dispatch:
env:
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Zulu 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '11'
      - uses: actions/checkout@v2
        if: ${{ !github.event.repository.fork }}
      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT }}'
          cleanup_credentials: false
      - name: Use gcloud CLI
        run: gcloud info
      - name: Run tests & Coverage Report
        run: SL_SPARK_BIGQUERY_MATERIALIZATION_DATASET=${{ secrets.SL_SPARK_BIGQUERY_MATERIALIZATION_DATASET }} TEMPORARY_GCS_BUCKET=starlake-app SL_GCP_TEST=true sbt coverage test coverageReport
      - name: Release Spark 2/3
        run: SL_SPARK_BIGQUERY_MATERIALIZATION_DATASET=${{ secrets.SL_SPARK_BIGQUERY_MATERIALIZATION_DATASET }} TEMPORARY_GCS_BUCKET=${{ secrets.TEMPORARY_GCS_BUCKET }} GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} SONATYPE_USERNAME=${{ secrets.SONATYPE_USERNAME }} SONATYPE_PASSWORD=${{ secrets.SONATYPE_PASSWORD }}  SL_GCP_TEST=true RELEASE_SONATYPE=true sbt 'release with-defaults'
