name: Release
# Run workflow on commits to the `master` branch
on:
  workflow_dispatch:
env:
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
jobs:
  release:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
#      - name: Release Spark 2
#        run: COMET_SPARK_VERSION=2.4.7 sbt ++2.12.12 release with-defaults
      - name: Release Spark 3
        run: COMET_SPARK_VERSION=3.1.0 sbt ++2.12.12 'release with-defaults'
