# This workflow will launch at 00:00 every Sunday
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
name: Scala Steward
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    name: Scala Steward
    steps:
      - name: Set up Zulu 8
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '8'
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
      - name: Run tests
        run: sbt test
      - name: Scala Steward
        uses: scala-steward-org/scala-steward-action@v2
        with:
          github-token: ${{ github.token }}
