name: Slack Notification
on:
  push:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]
  issues:
    types:
      - opened
      - closed
      - reopened
      - edited
      - deleted
      - pinned
      - unpinned
      - assigned
      - unassigned
      - labeled
      - unlabeled
      - milestoned
      - demilestoned
  issue_comment:
    types: [created, edited, deleted]
  create:
  delete:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took,pullRequest # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_STARLAKE_CORE_WEBHOOK_URL }} # required
        if: always() # Pick up events even if the job fails or is canceled.
